*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


 

header{
    background-color: #647457;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

main{
    background-color: beige; 
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
}

 footer{
    background-color: #647457;
    font-family: 'Bebas Neue', cursive;
 }

main h2{
   padding: 30px;
}


 .navbar {
   display: flex;
   flex-direction: row;
   font-size: 30px;
   align-items: center;
}

.arriba  {
   padding: 30px;
   display: flex;
}

.abajo{
   padding: 30px;
   display: flex;

}

a{
    text-decoration: none;
    color: black;
 }

img{
   width: 200px;
   height: 200px;
}

 .bambole{
   font-family: 'Sedgwick Ave Display', cursive;
   font-size: 90px;
   font-weight: 30px;
}
.redes{
   text-align: left;
}
.contacto {
   text-align: right;
}
.eslogan{
   text-align: center;
   width: 100%;
}
.ubicacion{
   text-align: center;
}
.fototienda{
   height: 100%;
   width: 100%;
}

